*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url('../img/table.png');
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Anybody', cursive;
    color: #fff;
}

.main--title{
    font-size: 2.5rem;
    color: #daa520;
}

.main--message{
    display: inline;
    font-style: italic;
    margin-right: 0.3em;
}

.main--message-emoji{
    font-style: normal;
}

.main--message,
.main--message-emoji{
    font-size: 1.4rem;
}

.main--cards,
.main--sum{
    font-size: 1.1rem;
}

.main--btn{
    width: 150px;
    padding: 0.7em 1em;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    background-color: #daa520;
    color: #016f32;
    border: none;
    border-radius: 5px;
}

.main--btn:hover{
    cursor: pointer;
}